body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3, {
  font-family: 'Roboto Mono', monospace;
}

.question {
  margin: 20px;
}

.underline {
  border-bottom: 2px solid black;
}

.lame, .try-again {
  display: none;
}

.try-again {
  color: #a94442;
}

.col-md-11{
  margin-bottom: 100px;
}

.glyphicon-remove {
  display: none;
  right: 100%;
  top:-6px;
}

.codeImg {
  padding: 10px;
}
