body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3, {
  font-family: 'Roboto Mono', monospace;
}

em {
  color: #00b3b4;
  font-style: normal;
}

.question {
  margin: 40px 20px;
}

ol:first-child div {
  margin-top: 10px;
}

.underline {
  border-bottom: 2px solid black;
}

.lame, .lamer, .try-again, #result {
  display: none;
}

.lame {
  color: #00b3b4;
}
.try-again {
  color: #a94442;
}

.col-md-11{
  margin-bottom: 100px;
  padding-left: 100px;

}

.glyphicon-remove {
  display: none;
  right: 100%;
  top:-6px;
}

.codeImg {
  padding: 10px;
}

@media screen and (min-width: 762px) {
  .question {
    margin: 20px;
  }
}

@media screen and (min-width: 992px) {
  .col-md-11{
    padding-left: 0px;
  }
}
